/*
References used:
    - Snapping animation: https://youtu.be/htw4iKMYzEc
    - Grid transition w/ nav bar: https://css-tricks.com/animating-css-grid-how-to-examples/

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', 'Copperplate', 'Times New Roman';
}

section
{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    align-items: center;
    background-color: #1D1E22;
}

.grid
{
    display: grid;
    grid-template-columns: 2% auto;
    transition: 300ms;
}

.left
{
    text-orientation: upright;
    background: linear-gradient(to left, #007FFF, #E086D3);
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li
{
    text-align: center;
}

li a
{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 5%;
    color: black;
}

li a:hover 
{
    background-color: #E086D3;
    color: #FFF7EB;
}

.left .navbar
{
    visibility: hidden;
    color: black;
}

.grid:has(.left:hover) .navbar
{
    visibility: visible;
    color: black;
}

.grid:has(.left:hover)
{
    grid-template-columns: 20% auto;
    color: black;
}

.container
{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    background-color: #1D1E22; /* #c5d5cb */
    font-size: 1vw;
    color: #FFF7EB;
}

.one
{
    display: block;
    border-bottom: #EDEABF;
    border-bottom-style: dashed;
}

.intro
{
    font-size: 3vw;
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;
    height: 20%;
    
}

.description
{
    font-size: 1.5vw;
    width: 80%;
    height: 80%;
    margin: 5%;
}

.two
{
    display: block;
    border-bottom: #EDEABF;
    border-bottom-style: dashed;
}

.univutah
{
    font-size: 3vw;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    padding-top: 5%;
}

.compsci
{
    font-size: 1.5vw;
    padding-left: 3%;
}

.physics
{
    font-size: 1.5vw;
    padding-left: 3%;
}

.wsu
{
    font-size: 3vw;
    margin-left: 5%;
    width: 90%;
}

.three
{
    border-bottom: #EDEABF;
    border-bottom-style: dashed;
}

.four
{
    border-bottom: #EDEABF;
    border-bottom-style: dashed;
}