/*
References used:
    - Snapping animation: https://youtu.be/htw4iKMYzEc
    - Grid transition w/ nav bar: https://css-tricks.com/animating-css-grid-how-to-examples/

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', 'Copperplate', 'Times New Roman';
}

section
{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    align-items: center;
    background-color: #c5d5cb;
}

.intro
{
    display: inline-flex;
    color: black;
    background-color: #c5d5cb;
    position: relative;
    text-align: left;
    font-family: 'Lucida Console', 'Copperplate', 'Times New Roman';
    font-size: 35px;
    padding: 2%;
    padding-top: 2%;
    width: 100%;
    top: 0%;
    height: 70%;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
    
}

.block
{
    display: block;
    color: black;
    background-color: white;
    width: 40%;
    height: 80%;
    padding: 3%;
    margin: 2%;
    border-radius: 8%;
    border: solid;
}


.grid
{
    display: grid;
    grid-template-columns: 2% auto;
    transition: 300ms;
}

.left
{
    background-color: rgba(245, 245, 245, 0.884);
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 3px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li
{
    text-align: center;
}

li a
{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 5%;
    color: black;
}

li a:hover 
{
    background-color: #9fa8a3;
    color: white;
}

.left .navbar
{
    visibility: hidden;
    color: black;
}

.grid:has(.left:hover) .navbar
{
    visibility: visible;
    color: black;
}

.grid:has(.left:hover)
{
    grid-template-columns: 20% auto;
    color: black;
}

.container
{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

.carina
{
    height: 30%;
    bottom: 70%;
    width: 100%;
    background-image: url("carina_nebula_jwst_2.png");
    background-size: cover;
}

.one
{
    background: #121212fa;
    display: block;
    border-bottom: solid;
}

.two
{
    
}

.three
{
    background: rgb(67, 91, 175);
}

.four
{
    background: lightsalmon;
}